body{
    background-image: url(BG.jpg);
    text-align: center;
}

#itl{
    font-size: 55px;
    font-family:  'Yeon Sung';
}

#ktml{
    font-size: 29px;
}

#cursive{
    font-size: 60;
    font-family:fantasy;
}

#ITL{
    height: 600px;
    width: 600px;
}

#content{
    width: 1300px;
    height: 610;
}

#date{
    float: right;
}

#mpl{
    font-family: cursive;
}

